body {
    text-align: center;
    margin: 0;
    background-color: rgb(14, 21, 39);
}

#bar {
    display: flex;
    width: 100vw;
    height: 8vh;
    background-color: rgb(0, 0, 0);
    margin-bottom: 2vh;
    justify-content: center;
    font-size: 40px;
    color: rgb(255, 255, 255);
}

.box, canvas {
  display: inline-block;
  vertical-align: middle;
  border-radius: 10px;
}

.box {
    width: 300px;
    height: auto;
    border: 1px solid rgb(91, 91, 91);
    padding: 15px;
    margin: 15px;
    color: rgb(255, 255, 255);
}

#leftBox {
    text-align: left;
    width: 375px;
    font-style: italic;
}

canvas {
    background-color: rgb(255, 250, 211);
}

.row {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 5px 45px;
    /* The first value of padding is about top-bottom, and second is about left-right. */
}

.label {
    text-align: left;
}

.value {
    text-align: right;
}

#btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

button {
    height: 33px;
    width: 150px;
    font-size: 20px;
    background-color: rgb(186, 140, 255);
    border: 0px;
    border-radius: 5px;
}

button:hover{
    background-color: rgb(140, 63, 255);
    color: rgb(250, 250, 250)
}